{% extends 'base.html' %}
{% load static %}

{% block title %} cart - eBasket {% endblock %}

{% block page_style %} 
<style>
    .bg {
        background-color: #f8f9fa;
    }
    .padding-y {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .itemside {
        position: relative;
        display: flex;
        width: 100%;
    }
    figure {
        margin-bottom: 0;
    }
    .align-items-center {
        align-items: center !important;
    }
    .img-sm {
        width: 80px;
        height: 80px;
    }
    .itemside .info {
        padding-left: 15px;
        padding-right: 7px;
    }
    .table-shopping-cart.table td, .table-shopping-cart.table th {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .table-borderless th, .table-borderless td, .table-borderless thead th, .table-borderless tbody + tbody {
        border: 0;
    }
    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .input-spinner {
        width: 125px;
        flex-wrap: nowrap;
        display: inline-flex;
        vertical-align: middle;
    }
    .input-group {
        align-items: stretch;
    }
    .input-spinner .btn {
        width: 42px;
        text-align: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .btn-light {
        background-color: #fff;
        border-color: #e4e4e4;
    }
    .table-shopping-cart .price {
        font-weight: bold;
        margin-right: 5px;
        display: block;
        font-size: 1rem;
        font-family: fangsong;
    }
    var {
        font-style: normal;
    }
    .fa-indian-rupee-sign:before, .fa-indian-rupee:before, .fa-inr:before {
        content: "\e1bc";
        padding-right: 1px;
    }
    .dlist-align {
        display: flex;
    }
    [class*=dlist-] {
        margin-bottom: 5px;
    }
    .dlist-align dd {
        flex-grow: 1;
    }
    [class*=dlist-] dd {
        margin-bottom: 0;
    }
</style>
{% endblock %}


{% block body %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    
    <div class="row">
        <aside class="col-lg-9">
    <div class="card">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Price</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>
            <figure class="itemside align-items-center">
                <div class="aside"><img src="/media/{{item.product.image}}" class="img-sm"></div>
                <figcaption class="info">
                    <a href="#" class="title text-dark">{{ item.product.product_name }}</a>
                    <p class="text-muted small">Matrix: 25 Mpx <br> Brand: Canon</p>
                </figcaption>
            </figure>
        </td>
        <td> 
            <!-- col.// -->
                        <div class="col"> 
                            <div class="input-group input-spinner">
                                <div class="input-group-prepend">
                                <button data-product="{{ item.product.id }}" data-action="remove" class="btn btn-light update-cart" type="button" id="button-minus"> <i class="fa fa-minus"></i> </button>
                                </div>
                                <input type="text" class="form-control"  value="{{ item.quantity }}">
                                <div class="input-group-append">
                                <button data-product="{{ item.product.id }}" data-action="add" class="btn btn-light update-cart" type="button" id="button-plus"> <i class="fa fa-plus"></i> </button>
                                </div>
                            </div> <!-- input-group.// -->
                        </div> <!-- col.// -->
        </td>
        <td> 
            <div class="price-wrap"> 
                <var class="price"><i class="fa-solid fa-indian-rupee-sign"></i>{{ item.get_total }}</var> 
                <small class="text-muted"><i class="fa-solid fa-indian-rupee-sign"></i>{{ item.product.price }} each</small> 
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right"> 
        <a href="" class="btn btn-danger"> Remove</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                    <dt>Total Items:</dt>
                    <dd class="text-right">{{ order.get_cart_items }}</dd>
                  </dl>
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right"><i class="fa-solid fa-indian-rupee-sign"></i>{{ order.get_cart_total }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right"><i class="fa-solid fa-indian-rupee-sign"></i>36.00</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total Amount:</dt>
                  <dd class="text-right text-dark b"><strong><i class="fa-solid fa-indian-rupee-sign"></i>{{ order.total_amount_with_tax }}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static 'images/payments.png' %}" height="26">
                </p>
                <a href="/shop/checkout/" class="btn btn-primary btn-block"> Checkout </a>
                <a href="/shop/" class="btn btn-light btn-block">Continue Shopping</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
</section>

{% endblock %}