{% extends 'base.html' %}
{% load static %}

{% block title %} checkout - eBasket {% endblock %}

{% block page_style %}

<style>
    .img-sm {
        width: 80px;
        height: 80px;
    }
    .itemside {
        position: relative;
        display: flex;
        width: 100%;
    }
    .hidden {
        display: none !important;
    }
</style>

{% endblock %}

{% block body %}

<section class="section-content padding-y bg">
    <div class="container">
    
    
    
    <!-- ============================ COMPONENT 2 ================================= -->
    <div class="row">
        <main class="col-md-8">
    
    <article class="card mb-4">
    <div class="card-body" id="contact-info">
        <h4 class="card-title mb-4">Contact Information</h4>
        <form action="">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Name</label>
                    <input type="text" name="fname" placeholder="name" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                    <label>Mobile No.</label>
                    <input type="text" value="+91" name="mobile" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="example@gmail.com" class="form-control">
                </div>
            </div> <!-- row.// -->	
        </form>
    </div> <!-- card-body.// -->
    </article> <!-- card.// -->
    
    
    <article class="card mb-4">
    <div class="card-body">
        <h4 class="card-title mb-4">Shipping Information</h4>
        <form action="" id="form">
                
    
            <div class="row">
                    <div class="form-group col-sm-8">
                        <label>Address*</label>
                        <input type="text" name="address" placeholder="address.." class="form-control">
                    </div>
                    <div class="form-group col-sm-8">
                        <label>City*</label>
                        <input type="text" name="city" placeholder="city.." class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>State*</label>
                        <input type="text" name="state" placeholder="state.." class="form-control">
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Zipcode*</label>
                        <input type="text" name="zipcode" placeholder="zipcode.." class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Country*</label>
                        <input type="text" name="country" placeholder="country.." class="form-control">
                    </div>
            </div> <!-- row.// -->
            <hr>
            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">	
        </form>
    </div> <!-- card-body.// -->
    </article> <!-- card.// -->

    <article class="card mb-4">
        <div class="card-body hidden" id="payment-info">
            <div class="box-element">
                <small>Razorpay Option</small>
                <div id="paypal-button-container"></div>
                <button type="button" class="btn make-payment" id="rzp-button1">Pay with Razorpay</button>
            </div>
        </div> <!-- card-body.// -->
    </article> <!-- card.// -->
    
    <!-- accordion end.// -->
      
            </main> <!-- col.// -->
            <aside class="col-md-4">
                <div class="card">
            <div class="card-body">
                <div class="box-element">
                    <a  class="btn btn-outline-dark" href="/shop/cart/">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>
                    {% for item in items %}
                    <div class="cart-row">
                        <figure class="itemside  mb-4">
                            <div><img class="row-image img-sm" src="/media/{{item.product.image}}"></div>
                            <figcaption>
                                <div><p>{{ item.product.product_name }}</p></div>
                                <div><p>x{{ item.quantity }}  =  <i class="fa-solid fa-indian-rupee-sign"></i>{{ item.product.price }}</p></div>
                            </figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                    <hr>
                    <h5>Items: {{ order.get_cart_items }}</h5>
                    <h5>Tax: <i class="fa-solid fa-indian-rupee-sign"></i>36.00</h5>
                    <h5>Total: <i class="fa-solid fa-indian-rupee-sign"></i>{{ order.total_amount_with_tax }}</h5>
                </div>              
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    
        <!-- ============================ COMPONENT 2 END//  ================================= -->
    </div> <!-- container .//  -->
</section>

{% endblock %}

{% block js %}

<!-- scripts which handle all payment request from the user in razorpay -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var total = '{{ order.total_amount_with_tax }}'
    var options = {
        "key": 'rzp_test_vWCHJvEZxYJNX5', // Enter the Key ID generated from the Dashboard
        // "amount": '{{payment.amount}}', // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "eBasket",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature);
            submitFormData()
        },
        "prefill": {
            "name": '{{ customer.name }}',
            "email": '{{ customer.email }}',
            "contact": '1234567890'
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
</script>

<!-- Main js scripts which handles checkout page information -->
<script type="text/javascript">

    var user = '{{request.user}}'
    // var total = '{{ order.get_cart_total }}'

    // if (user != 'AnonymousUser'){
    //     document.getElementById('contact-info').innerHTML = ''
    // }

    var form = document.getElementById('form')

    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log("Form submitted...")
        console.log("user:", user)

        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })


    // document.getElementById('rzp-button1').addEventListener('click', function(e){
    //     console.log("Payment Button clicked")
    //     submitFormData()
    // })

    function submitFormData(){
        console.log("Payment Button clicked")

        var userFormData = {
            'name' : null,
            'email' : null,
            'mobile_no' : null,
            'total': total
        }

        var shippingInfo = {
            'address' : null,
            'city' : null,
            'state' : null,
            'zipcode' : null,
            'country' : null
        }

        if (user == 'AnonymousUser'){
            userFormData.name = form.name.value
            userFormData.email = form.email.value 
        }

        shippingInfo.address = form.address.value
        shippingInfo.city = form.city.value
        shippingInfo.state = form.state.value
        shippingInfo.zipcode = form.zipcode.value
        shippingInfo.country = form.country.value


        var url = '/shop/process_order/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json',
                'X-CSRFToken' : csrftoken,
            },
            body: JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
        })

        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Transaction Completed');
            window.location.href = "{% url 'Home' %}"
        })

    }

</script>

{% endblock %}