{% load static %}
<!doctype html>
<html lang="en">

<head>
	<title>Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/register-login-style.css' %}">

</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Want to Register?</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<h3 class="text-center mb-4">eBasket</h3>
						<div class="icon d-flex align-items-center justify-content-center">
							<i class="fa fa-user-o" aria-hidden="true" style="color: white"></i>
						</div>
						
						<form method="POST" action="#" class="login-form">
							{% csrf_token %}

							<div class="form-group input-group mb-3">
								{{ form.username }}
							</div>
							
							<div class="form-group input-group mb-2">
								{{ form.email }}
							</div>

							<div class="form-group d-flex input-group mb-2">
								{{ form.password1 }}
							</div>

							<div class="form-group d-flex input-group mb-2">
								{{ form.password2 }}
							</div>

							<div class="form-group">
								<input class="btn login_btn btn-primary rounded submit p-3 px-5" type="submit" value="Register Account">
							</div>
							{{form.errors}}
						</form>
						<div class="mt-4">
							<div class="d-flex justify-content-center links">
								Already have an account ? <a href="{% url 'login' %}" class="ml-2">Login</a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<script>
		/* we set placeholder values in forms.py using vanilla Javascript here.
		//We start indexing at one because CSRF_token is considered and input field.
		*/

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>
</body>

</html>
