.spl-hgt {
    height:91px;
}

.nb-items {
    align-items: flex-end;
    padding-left: 30px;
}

.srh-form {
    position: absolute;
    left: 495px;
}

#search_bar {
    width: 500px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#search_btn {
    margin: -8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    justify-content: space-around;
}

.container { 
    max-width: 2000px;
    padding-left: 10px;
    padding-right: 10px;
}

a.title {
    color: #212529;
    display: block;
    text-decoration: none;
    font-family: "Inter", Arial, "Helvetica Neue", "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: transparent;
}

.section-title {
    color: #212529;
    font-size: 1.75rem;
    margin-left: 5px;
    margin-bottom: 1.5rem;
    font-weight: bold;
    line-height: 1.3;
    font-family: "Inter", Arial, "Helvetica Neue", "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-muted {
    color: #969696 !important;
}

body {
    font-family: "Inter", Arial, "Helvetica Neue", "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.border-bottom {
    border-bottom: 1px solid #e4e4e4 !important;
}

.userinfo {
    padding-right: 10px;
    font-style: italic;
    padding-bottom: 7px;
}

.log-inout {
    text-decoration: none;
    font-style: italic;
    padding-bottom: 7px;
}

/* css for the cart component starts here*/
.widget-header {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-right: 20px;
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 20px;
    text-align: center;
    color: #9ca2af;
}

.icon:hover {
    color: #3167eb;
}

.cart-container {
    display: flex;
    align-items: center;
}

.widget-header .notify {
    position: absolute;
    top: 0px;
    right: 10px
}

.notify {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    border-radius: 3rem;
    color: #fff;
} /* css for the cart component starts here*/

.logo {
    width: 166px;
    height: 100px;
    padding-top: 17px;
    padding-bottom: 21px;
}