.bg {
    background-color: #f8f9fa;
}

.padding-y {
    padding-top: 40px;
    padding-bottom: 40px;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
}

.gallery-wrap .img-big-wrap a {
    text-align: center;
    display: block;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.content-body {
    flex: 1 1 auto;
    padding: 2rem 2.3rem;
}

h2, .h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.3;
}

h6, .h6 {
    font-size: 1rem;
    font-weight: bold;
}

.price {
    font-style: normal;
    font-weight: 600;
    color: #212529;
    font-size: 1.5rem;
}

.fa-indian-rupee-sign {
    font-size: 24px;
}

.item-option-select {
    width: 317px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.btn-sm, .btn-group-sm, .btn {
    padding: 0.35rem 0.5rem;
    font-size: 0.82rem;
    line-height: 1.2;
    border-radius: 0.37rem;
}

.item-option-select .btn {
    min-width: 80px;
}

.btn .text + i {
    margin-left: 10px;
}

.btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
}

.btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
    z-index: 1;
}

.btn-light:hover {
    background-color: #fff;
    border-color: #989898;
}

.btn-primary {
    background-color: #3167eb;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.45rem 0.85rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.37rem;
}

.btn-primary:hover {
    background-color: #1650e0;
}

.box {
    padding: 18px;
    background: #fff;
    border-radius: 0.37rem;
    border: 1px solid #e4e4e4;
}

.col-md-9 {
    padding-left: 10px;
    padding-right: 10px;
}

.h3, h3 {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.icontext {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.icontext .icon {
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.icontext .text {
    width: 100%;
    line-height: 1.2;
}

p:last-child {
    margin-bottom: 0;
}

.hide {
    display: none;
}

.hide2 {
    display: none;
}