.ftco-section {
    padding: 7em 0;
}

body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;
    color: gray;
}

section {
    display: block;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6, .col-lg-5 {
    position: relative;
    width: 40%;
    padding-right: 15px;
    padding-left: 15px;
}

.login-wrap {
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
}

.p-md-5 {
    padding: 3rem !important;
}

.login-wrap .icon {
    width: 80px;
    height: 80px;
    background: #8d448b;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.align-items-center {
    -webkit-box-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.login-wrap h3 {
    font-weight: 700;
    font-size: 25px;
    color: #322d32;
}

.text-center {
    text-align: center !important;
}
.mb-4 {
    margin: 0px;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.h3 {
    line-height: 1.5;
    font-family: "Lato", Arial, sans-serif;
}

.form-group {
    position: relative;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    height: 43px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 15px;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.2s ease-in-out;
    border-radius: 0.50rem;
    font-weight: 400;
    line-height: 1.5;	
    display: block;
    width: 89%;
}

.form-control:focus, .form-control:active {
    outline: none !important;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.07);
    border-color: transparent;
}

.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

form {
    display: block;
    margin-top: 0em;
}

.form-group {
    position: relative;
}

.form-group .submit {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.btn.btn-primary {
    background: #8d448b !important;
    border: 1px solid #8d448b !important;
    color: #fff !important;
}

.btn {
    box-shadow: none !important;
    font-size: 15px;
}

.px-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;	
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.submit {
    height: 56px;
    cursor: pointer;
}

.ml-2 {
    padding-left: 10px;
    text-decoration: none;
}
